#landing-bg-credit {
  color: white;
  text-shadow: 0px 0px 10px black;
  opacity: 60%;
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 3;
}

#landing-bg-credit > a {
  color: white;
}

#landing-bg-credit > a:hover {
  color: blue;
}

#landing-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#landing-logo {
  width: clamp(100px, 50vw, 300px);
  filter: drop-shadow(0 0 0.75rem rgba(177, 150, 150, 0.5));
}

#landing-main > form {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

#current-location-button {
  color: white;
  text-decoration: underline;
  background: none;
  border: none;
}

#current-location-button:hover {
  color: blue;
}

.hidden {
  display: none;
}
